/* 전체 배경 = 회색 */
body {
  background: #F5F5F5;
}

/* 중앙 카드 배치 */
.upload-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  padding-top: 40px;
  padding-bottom: 40px;
}

/* 흰색 카드 */
.upload-card {
  width: 1650px;
  background: #ffffff;
  border-radius: 22px;
  padding: 60px;
  box-sizing: border-box;
}

/* 카드 내부 회색 박스 */
.upload-box {
  width: 100%;
  height: 580px;
  background: #F3F3F3;
  border-radius: 32px;
  border: 1px solid #D9D9D9;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* 텍스트 */
.upload-text {
  font-size: 21px;
  margin-bottom: 20px;
  color: #000;
}

/* 버튼 */
.upload-button {
  display: flex;
  gap: 6px;
  align-items: center;
  padding: 10px 18px;
  border-radius: 999px;
  background: #1e1e1e;
  color: #fff;
  cursor: pointer;
}

/* 이미지 미리보기 */
.preview-image {
  max-width: 90%;
  max-height: 90%;
  object-fit: contain;
}
